<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="GroceryDbContext" connectionString="Data Source=SharonGroceryDB.db.8676438.hostedresource.com; Initial Catalog=SharonGroceryDB; User ID=SharonGroceryDB; Password=Password@32" providerName="System.Data.SqlClient"/>
		<add name="GroceryAuthentication" connectionString="Data Source=SharonGroceryDB.db.8676438.hostedresource.com; Initial Catalog=SharonGroceryDB; User ID=SharonGroceryDB; Password=Password@32" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <compilation debug="true"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="GroceryAuthentication" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
